<!DOCTYPE html>
<html>
<head>
    <title>Учет склада</title>
</head>
<body>
    <h1>Таблица грузовиков</h1>
    <form action="." method="POST">{%csrf_token%}
    <table border="1">
        <thead>
            <tr>
                <th>Бортовой номер</th>
                <th>Модель</th>
                <th>Макс. грузоподъемность</th>
                <th>Текущий вес</th>
                <th>Перегруз %</th>
                <th>Координаты разрузки (x, y)</th>
            </tr>
        </thead>
        <tbody>
            {% for truck in trucks %}
            <tr>
                <td>{{ truck.number }}</td>
                <td>{{ truck.model.name }}</td>
                <td>{{ truck.model.max_load_capacity }}</td>
                <td>{{ truck.current_load }}</td>
                <td>{{ truck.overloading }}</td>
                <td><input type='text' name='coords'></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <input type="submit" value="Рассчитать">
    </form>

    <table border="1">
        <thead>
            <tr>
                <th>Название склада</th>
                <th>Объем до разрузки, т</th>
                <th>Объем после разгрузки, т</th>
                <th>Качественные хар-ки после разгрузки</th>
            </tr>
        </thead>
        <tbody>
            {% for warehouse in warehouses %}
            <tr>
                <td>{{ warehouse.name }}</td>
                <td>{{ warehouse.current_load }}</td>
                <td>{{ warehouse.overloading }}</td>
                <td>{{ warehouse.fe_content|floatformat:2 }}% SiO2, {{ warehouse.si_content|floatformat:2 }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
